@import "../../styles/mixins.scss";

.container {
  width: 100%;
  .category_name {
    @include font(400, 14px, 18px);
    color: #999999;
    &:last-child {
      @include font(700, 14px, 18px);
      color: #666666;
    }
    @include media(sm) {
      @include font(400, 13px, 18px);
    }
  }
  .chevron {
    margin: 0 10px;
  }
}
