@import "../../styles/mixins.scss";

.container {
  width: 100%;
  .sub_container {
    width: 65%;
    margin: 16px auto 0 auto;
    @include media(sm) {
      width: 80%;
    }
    @include media(xs) {
      width: 95%;
    }
  }
}
