@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  background-color: #ffffff;
  padding: $big-space;
  border-radius: 2px;
  margin-bottom: $small-space;
  .prod_container {
    display: flex;
    .item_picture {
      width: 680px;
      margin-right: $small-space;
      @include media(md) {
        width: 100%;
        margin: 0;
      }
    }
    .item_info {
      @include font(400, 14px, 18px);
      margin-bottom: $small-space;
    }
    .item_title {
      @include font(700, 24px, 34px);
      margin-bottom: $big-space;
    }
    .item_price {
      @include font(400, 46px, 50px);
      margin-bottom: $big-space;
      display: flex;
      .price_decimals {
        @include font(400, 20px, 24px);
        margin: 5px;
      }
    }
    .buy_btn {
      background-color: $blue;
      border: none;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px;
      width: 100%;
    }
    @include media(md) {
      flex-direction: column;
    }
  }
  .description_container {
    .description_title {
      @include font(400, 28px, 32px);
      margin: $big-space 0;
    }
    .item_description {
      @include font(400, 16px, 20px);
      color: $grey-2;
      margin-bottom: $big-space;
    }
  }
}
@include media(sm) {
  .container {
    .prod_container {
      .item_info {
        margin-top: $small-space;
      }
      .item_title {
        @include font(700, 20px, 30px);
      }
      .item_price {
        @include font(400, 40px, 44px);
        .price_decimals {
          @include font(400, 18px, 22px);
        }
      }
    }
    .description_container {
      .description_title {
        @include font(400, 24px, 28px);
      }
      .item_description {
        @include font(400, 16px, 20px);
      }
    }
  }
}
@include media(xs) {
  .container {
    .prod_container {
      .item_info {
        @include font(400, 12px, 16px);
      }
      .item_title {
        margin-bottom: $small-space;
      }
      .item_price {
        @include font(400, 30px, 34px);
        margin-bottom: $small-space;
        .price_decimals {
          @include font(400, 16px, 20px);
        }
      }
    }
    .description_container {
      .description_title {
        @include font(400, 20px, 24px);
      }
      .item_description {
        @include font(400, 14px, 18px);
      }
    }
  }
}
