@import "../../styles/mixins.scss";

.search_box_container {
  background-color: #ffe600;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .logo {
    margin-right: 20px;
    @include media(sm) {
      width: 45px;
    }
  }
  .search_form {
    width: 61%;
    .search_input {
      width: 93%;
      color: #333333;
      border: none;
      border-radius: 5px 0 0 5px;
      padding: 10px;
      @include font(400, 18px, 22px);
      &::placeholder {
        color: #999999;
      }
      @include media(md) {
        width: 88%;
      }
      @include media(sm) {
        @include font(400, 16px, 20px);
      }
      @include media(xs) {
        width: 83%;
      }
    }
    .submit_form_btn {
      border: none;
      background-color: #eeeeee;
      border-radius: 0 5px 5px 0;
      padding: 10px;
      @include media(sm) {
        padding: 8px 10px;
      }
    }
    @include media(sm) {
      width: 70%;
    }
    @include media(xs) {
      width: 80%;
    }
  }
}
